# Manipulating Data with `R` Exercises

In this Exercise notebook, you will be manipulating the Congress Terms data set with `R`. These data record some general information about every member in Congress dating back to the 1940s. We encourage you play get your hands dirty, and play around with this new data set to familiarize yourself with it. Be sure to follow the directions carefully and write as well as execute code in the designated cells.

**Question 1**: Read in the file `congress-terms.csv` under the `/dsa/data/all_datasets/` directory. Name this data frame "`df`".

In [22]:
# Execute your code for question 1 here
# -------------------------------------

df <- read.csv('/dsa/data/all_datasets/congress-terms.csv')
head(df)
library(dplyr)

  congress chamber bioguide firstname middlename lastname  suffix birthday
1 80       house   M000112  Joseph    Jefferson  Mansfield        1861-02-09
2 80       house   D000448  Robert    Lee        Doughton         1863-11-07
3 80       house   S000001  Adolph    Joachim    Sabath           1866-04-04
4 80       house   E000023  Charles   Aubrey     Eaton            1868-03-29
5 80       house   L000296  William              Lewis            1868-09-22
6 80       house   G000017  James     A.         Gallagher        1869-01-16
  state party incumbent termstart age
1 TX    D     Yes       1/3/47    85.9
2 NC    D     Yes       1/3/47    83.2
3 IL    D     Yes       1/3/47    80.7
4 NJ    R     Yes       1/3/47    78.8
5 KY    R     No        1/3/47    78.3
6 PA    R     No        1/3/47    78.0

**Question 2**: Now split the data frame, `df`, into 2 data frames based on the Republican and Democratic party. Save them in a variables named "`republican`" and "`democrat`" respectively. Which data set has more rows?

In [23]:
# Execute your code for question 2 here
# -------------------------------------
republican <- subset(df, party == "R")
democrat <- subset(df, party == "D")
nrow(republican)
nrow(democrat)
print("Data frame containing only democratic party has more rows")

[1] 8274

[1] 10290

[1] "Data frame containing only democratic party has more rows"

**Question 3**:  Are there any other codes for political parties other than Democrat and Republican? If so, what are these other codes? What function did you use to find this?

In [24]:
# Write your code for question 3 here
# -------------------------------------
unique(df$party)
print('yes there are, I used the unique function')

[1] D  R  AL L  I  ID
Levels: AL D I ID L R

[1] "yes there are, I used the unique function"

Answer the question above here.
3.
yes there are, I used the unique () function"

**Question 4**: Sort the `republicans` and `democrats` data frames by age and return the 5 oldest and youngest from each party.

In [25]:
# Execute your code for question 4 here
# -------------------------------------
R <- arrange(republican, age)
D <- arrange(democrat, age)
head(R)
tail(R)
head(D)
tail(D)

  congress chamber bioguide firstname middlename lastname     suffix birthday
1  94      house   E000175  David     Farnham    Emery               9/1/48
2 107      house   P000586  Adam      H.         Putnam              7/31/74
3  83      house   W000121  William   Creed      Wampler             4/21/26
4  80      house   S000063  George    William    Sarbacher    Jr.    9/30/19
5  97      house   L000547  John                 LeBoutillier        5/26/53
6  99      house   R000482  John                 Rowland             5/24/57
  state party incumbent termstart age
1 ME    R     No        1/14/75   26.4
2 FL    R     No        1/3/01    26.4
3 VA    R     No        1/3/53    26.7
4 PA    R     No        1/3/47    27.3
5 NY    R     No        1/5/81    27.6
6 CT    R     No        1/3/85    27.6

     congress chamber bioguide firstname middlename lastname suffix birthday
8269 113      house   H000067  Ralph     M.         Hall            5/3/23
8270 103      senate  T000254  J.        Strom      Thurmond        1902-12-05
8271 104      senate  T000254  J.        Strom      Thurmond        1902-12-05
8272 105      senate  T000254  J.        Strom      Thurmond        1902-12-05
8273 106      senate  T000254  J.        Strom      Thurmond        1902-12-05
8274 107      senate  T000254  J.        Strom      Thurmond        1902-12-05
     state party incumbent termstart age
8269 TX    R     Yes       1/3/13    89.7
8270 SC    R     Yes       1/5/93    90.1
8271 SC    R     Yes       1/4/95    92.1
8272 SC    R     Yes       1/7/97    94.1
8273 SC    R     Yes       1/6/99    96.1
8274 SC    R     Yes       1/3/01    98.1

  congress chamber bioguide firstname middlename lastname suffix birthday state
1  89      house   J000151  Jed       Joseph     Johnson  Jr.    12/27/39 OK
2  80      house   B000401  Lloyd     Millard    Bentsen  Jr.    2/11/21  TX
3  94      house   D000471  Thomas    Joseph     Downey          1/28/49  NY
4  89      house   G000420  William   Joseph     Green           6/24/38  PA
5 105      house   F000262  Harold    E.         Ford     Jr.    5/11/70  TN
6  96      house   S000286  James     Michael    Shannon         4/4/52   MA
  party incumbent termstart age
1 D     No        1/4/65    25.0
2 D     No        1/3/47    25.9
3 D     No        1/14/75   26.0
4 D     No        1/4/65    26.5
5 D     No        1/7/97    26.7
6 D     No        1/15/79   26.8

      congress chamber bioguide firstname middlename lastname   suffix
10285  85      senate  G000418  Theodore  Francis    Green
10286  90      senate  H000385  Carl      Trumbull   Hayden
10287 112      senate  I000025  Daniel    K.         Inouye
10288  86      senate  G000418  Theodore  Francis    Green
10289 113      senate  L000123  Frank     R.         Lautenberg
10290 111      senate  B001210  Robert    C.         Byrd
      birthday   state party incumbent termstart age
10285 1867-10-02 RI    D     Yes       1/3/57    89.3
10286 1877-10-02 AZ    D     Yes       1/10/67   89.3
10287 9/6/20     HI    D     Yes       1/5/11    90.3
10288 1867-10-02 RI    D     Yes       1/7/59    91.3
10289 1/22/20    NJ    D     Yes       1/3/13    93.0
10290 11/19/13   WV    D     Yes       1/6/09    95.1

**Question 5**: Now, let's start using the package `dplyr` to perform some basic data manipulations. If you noticed, the `df$chamber` column contains whether or not the individual belonged to the `house` or the `senate`. Using `dplyr` create a frame of data that returns the youngest member from each chamber per party (including those other than Republican or Democrat).

In [34]:
# Execute your code for question 5 here
# -------------------------------------
df %>% group_by(chamber,party) %>% filter(age == min(age))

   congress chamber bioguide firstname middlename lastname  suffix birthday
1   80      house   I000046  Leo                  Isacson          4/20/10
2   80      senate  L000428  Russell   Billiu     Long             11/3/18
3   81      house   R000425  Franklin  Delano     Roosevelt Jr.    8/17/14
4   86      house   A000105  Thomas    Dale       Alford           1/28/16
5   88      senate  M000851  Walter    Frederick  Mondale          1/5/28
6   89      house   J000151  Jed       Joseph     Johnson   Jr.    12/27/39
7   94      house   E000175  David     Farnham    Emery            9/1/48
8   97      senate  N000102  Don                  Nickles          12/6/48
9  102      house   S000033  Bernard              Sanders          9/8/41
10 107      house   P000586  Adam      H.         Putnam           7/31/74
11 110      senate  L000304  Joseph    I.         Lieberman        2/24/42
   state party incumbent termstart age
1  NY    AL    No        1/3/47    36.7
2  LA    D     Yes       1/3/47    28.2
3  NY    L     No        1/3/49    34.4
4  AR    ID    No        1/7/59    42.9
5  MN    I     No        1/9/63    35.0
6  OK    D     No        1/4/65    25.0
7  ME    R     No        1/14/75   26.4
8  OK    R     No        1/5/81    32.1
9  VT    I     No        1/3/91    49.3
10 FL    R     No        1/3/01    26.4
11 CT    ID    Yes       1/4/07    64.9

**Question 6**: Now, using `dplyr`, create the same frame as above except for the oldest member per chamber, per party.

In [35]:
# Execute your code for question 6 here
# -------------------------------------
df %>% group_by(chamber,party) %>% filter(age == max(age))

   congress chamber bioguide firstname middlename lastname    suffix birthday
1   81      house   M000122  Vito      Anthony    Marcantonio        1902-12-10
2   81      house   R000425  Franklin  Delano     Roosevelt   Jr.    8/17/14
3   93      house   M000834  John      Joseph     Moakley            4/27/27
4  101      house   P000218  Claude    Denson     Pepper             1900-09-08
5  107      senate  T000254  J.        Strom      Thurmond           1902-12-05
6  109      house   S000033  Bernard              Sanders            9/8/41
7  111      senate  L000304  Joseph    I.         Lieberman          2/24/42
8  111      senate  B001210  Robert    C.         Byrd               11/19/13
9  113      house   H000067  Ralph     M.         Hall               5/3/23
10 113      senate  S000033  Bernard              Sanders            9/8/41
   state party incumbent termstart age
1  NY    AL    Yes       1/3/49    46.1
2  NY    L     No        1/3/49    34.4
3  MA    ID    No        1/3/73    45.7
4  FL    D     Yes       1/3/89    88.3
5  SC    R     Yes       1/3/01    98.1
6  VT    I     Yes       1/4/05    63.3
7  CT    ID    Yes       1/6/09    66.9
8  WV    D     Yes       1/6/09    95.1
9  TX    R     Yes       1/3/13    89.7
10 VT    I     Yes       1/3/13    71.3

# Save your notebook, then `File > Close and Halt`