# Practicing Data Carpentry with `R`

Data carpentry wears many hats. There is the concept of table structure, which we covered in the lab portion, and then there is getting your variables in proper data types that make analysis and manipulations simpler. This practice will focus on just that and, more specifically, with datetime variables because these are among the most difficult to work with.

We are moving away from the dummy data that we used in the lab and using a dataset full of professional baseball players. Baseball data is abundant. It has been actively collected for over a century. This particular dataset has certain components that could be modified, in terms of table structure but, as mentioned above, we are going to be working with datetime object manipulations.

We'll begin by importing our packages and reading in the data. Many of the fuctions we will be using today are from the `lubridate` package, which makes working with datetime objects a lot simpler (a lot, a lot). Read more about it [here](https://lubridate.tidyverse.org/)

In [ ]:
library(tidyr)
library(dplyr)
library(ggplot2)
library(lubridate)

players <- read.csv('/dsa/data/all_datasets/baseball-databank/data/Master.csv')
head(players)

This dataset is rather wide, so much so that not all of the columns are rendered in JupyterHub. Fortunately, the variable names are rather clear as to what type of values they contain (ie. `birthMonth` is the month that the baseball player was born in). Instead of viewing the the contents of the dataset, let's just take a look at all of the column names to get a better idea of what we are working with.

In [ ]:
names(players)

The `names()` function returns a list of the column names of the of the data frame passed to it. We are going to be looking at several of the date columns for this practice. Let's begin with looking at what the data types of some of these columns are.

In [ ]:
head(players$finalGame)   # first 5 values 
typeof(players$finalGame) # type of object

Right now the values in the `finalGame` column are integers and in their current format you can't do anything interesting with them like calculate the time between two dates or extract the day of the week. That's where `lubridate` comes in. 

First, let's demonstrate how you can change something into an interpretable date object. The following three flexible functions make handling different date formats extremely simple.

In [ ]:
dmy('01-08-1800') # August 1st, 1800
ymd('2016/9/12')  # September 9th, 2016
mdy('May 12th, 2012') # May 12th, 2012

As you can see, the three examples are meant to handle dates that are input differently. In each scenario, `d` is for day, `m` for month, and `y` for year. Putting the three to together in the order of the input, renders a date object with the proper date.

These functions can also be run over data frame columns.

**Exercise 1**: *Overwrite the `players$finalGame`  column to a date object with year month date format using a `lubridate` function.*

In [ ]:
# Code for Exercise 1 goes here 
# -----------------------------

players <-
    players %>%
    mutate(finalGame = ymd(finalGame)) 

# uncomment the line below and this will work too
# players$finalGame <- ymd(players$finalGame)

head(players$finalGame)

**Exercise 2**: *Now convert `players$debut` to a date object with the same year month date format using `lubridate`.*

In [ ]:
# Code for Exercise 2 goes here 
# -----------------------------

players <-
    players %>%
    mutate(debut = ymd(debut)) 

# uncomment the line below and this will work too
# players$debut <- ymd(players$debut)

head(players$debut)

Below is a good example of some of the functionality provided by `lubridate` date objects. Imagine I wanted to know what day of the week most players debuted. Well, once the column is a date obeject, we can run the `wday()` function on it to extract the day of the week. The numbers in this case go from 1, Sunday to 7, Saturday.

In [ ]:
players$debut <- ymd(players$debut)
head(wday(players$debut), 10)

**Exercise 3**: *Create a column in the `players` data frame called `debutMonth` and assign the month name (as in 1 = Jan, 2 = Feb and so on...) of the `players$debut` column. (Hint: find a function similar to the `wday()` function and take a look at the `label` parameter)*

In [ ]:
# Code for Exercise 3 goes here 
# -----------------------------

players$debutMonth <- month(players$debut, label = TRUE)

head(players$debutMonth)

Remember back to the practice where we used the `unite()` function to combine three columns into one column because it was a date. Well, this data frame does a similar thing with each players birthday. The birthYear, birthMonth and birthDay variables are all separate columns. Well, `lubridate` provides a function that allows us to draw from different inputs. The `make_date()` function can take in three inputs to construct a date. 

Let's try it out for leapday 2012.

In [ ]:
make_date(2012,2,29)

And just for fun, for a mistaken leapday...

In [ ]:
make_date(2013,2,29)

`lubridate` keeps leap years in mind.

**Exercise 4**: *Create a column called `players$birthdate` using the `make_date()` function.*

In [ ]:
# Code for Exercise 4 goes here 
# -----------------------------

players <-
players %>%
mutate(birthdate = make_date(birthYear, birthMonth, birthDay))

**Exercise 5**: *Now using the 'players$birthdate' column you just created, find the month tha most players were born in. (Hint: There are several ways to do this with `dplyr`)*

In [ ]:
# Code for Exercise 5 goes here 
# -----------------------------

players %>% 
mutate(b_month = month(birthdate, label = TRUE)) %>% 
group_by(b_month) %>% tally()

# add %>% filter(n == max(n)) to select the month that most players were born in

# Save your Notebook, then `File > Close and Halt`