# `SQL` Exercises

We are going to continue down the path of querying our twitter database. 
For this exercise, much of our activities will revolve around querying the `tweet` table (in the practice we spent most of our time in the `hashtag` table). 
This time around, all of the queries will be written by you. 

**Please keep in mind** that if your query is taking a very long time, 
it is probably because you are scanning the entire database. 
You will want to put a `LIMIT` on the lowest level of your query in order for results to render quickly. 
Take for example a query configured like so

```sql
SELECT <cols>
FROM (
    SELECT <cols>
    FROM <tables>
    LIMIT <int>) AS lowest_level_table
```

The query in the parentheses will be executed first and then the query outside of it will be executed on the results of the query inside of the parentheses. 

---

Before we begin, we will establish a connection...

In [ ]:
import psycopg2
import pandas as pd

try:
    connect_str = "dbname='twitter' user='dsa_ro_user' host='pgsql.dsa.lan' password='readonly'"
    # use our connection values to establish a connection
    conn = psycopg2.connect(connect_str)
except:
    print("Something went wrong...probably the wrong permissions")

We will start off with a simple query...

**Exercise 1**: Write a query that returns all of the attributes and **200** rows from the tweet table. Then execute the query by running `pd.read_sql_query()`.

In [ ]:
# Code for Exercise 1 goes here
# --------------

The `job_id` for this table refers to which city the tweet was collected from. Since we all now have some tie to Columbia, MO, we can query for those tweets that are specifically tied to Columbia. Columbia's `job_id` is 261.

**Exercise 2**: Write and execute a query that pulls all attributes and 200 rows where the job id is 261.

In [ ]:
# Code for Exercise 2 goes here
# --------------

The database also collects the language that the tweet was written in as long as it is identifiable. This is stored in the `iso_language` column as an attribute of the `tweet`. 

**Exercise 3**: Write and execute a query that returns the distinct languages and the count of each language for 2000 rows in Columbia, MO. Keep in mind this will be a nested query and that at the lowest level you have a limit of 2000.

In [ ]:
# Code for Exercise 3 goes here
# ------------

**Exercise 4**: Now find out who tweets the most in Columbia, MO for 2000 rows of data. Arrange the data in descending order by count. User ids are stored in the `from_user` attribute.

In [ ]:
# Code for Exercise 4 goes here
# ------------

the column `from_user_followers` stores the number of followers the user who wrote the tweet had when that tweet was created.

**Challenge Question 1**: Write and execute a query that finds the average number of `from_user_followers` for each distinct `iso_language` from only 2000 rows of Columbia, MO tweets.

In [ ]:
# Code for Challenge Question 1 goes here
# ------------

# Save your notebook, then `File > Close and Halt`