# `SQL` Exercises

We are going to continue down the path of querying our twitter database. 
For this exercise, much of our activities will revolve around querying the `tweet` table (in the practice we spent most of our time in the `hashtag` table). 
This time around, all of the queries will be written by you. 

**Please keep in mind** that if your query is taking a very long time, 
it is probably because you are scanning the entire database. 
You will want to put a `LIMIT` on the lowest level of your query in order for results to render quickly. 
Take for example a query configured like so

```sql
SELECT <cols>
FROM (
    SELECT <cols>
    FROM <tables>
    LIMIT <int>) AS lowest_level_table
```

The query in the parentheses will be executed first and then the query outside of it will be executed on the results of the query inside of the parentheses. 

---

Before we begin, we will establish a connection...

In [2]:
import psycopg2
import pandas as pd

try:
    connect_str = "dbname='twitter' user='dsa_ro_user' host='pgsql.dsa.lan' password='readonly'"
    # use our connection values to establish a connection
    conn = psycopg2.connect(connect_str)
except:
    print("Something went wrong...probably the wrong permissions")

We will start off with a simple query...

**Exercise 1**: Write a query that returns all of the attributes and **200** rows from the tweet table. Then execute the query by running `pd.read_sql_query()`.

In [3]:
# Code for Exercise 1 goes here
# --------------

statement = """SELECT table_name 
    FROM information_schema.tables
    WHERE table_schema = 'twitter'"""

pd.read_sql_query(statement,conn)

     table_name
0       mention
1      new_slur
2  pred_output2
3  pred_output1
4         tweet
5           url
6           job
7       hashtag

In [4]:
statement = """                              
SELECT *
FROM twitter.tweet
LIMIT 200
"""

pd.read_sql_query(statement,conn)

,tweet_id_str,job_id,created_at,text,from_user,from_user_id_str,from_user_name,from_user_fullname,from_user_created_at,from_user_followers,...,from_user_timezone,to_user,to_user_id_str,to_user_name,source,location_geo,location_geo_0,location_geo_1,iso_language,analysis_state
0,849699511349923840,221,2017-04-05 19:05:24,RT @BTS_twt: ìì¿ ìë¦¬ì í¬ì´\\n#Chicago...,840263464509562880,840263464509562880,evebtsmy,à¸­à¸µà¸à¹à¸à¹à¸ â½ Not Today,2017-03-10 18:09:56,40,...,None,None,None,None,"<a href=""http://twitter.com/download/iphone"" r...",None,NaN,NaN,ko,0
1,849699511463276544,241,2017-04-05 19:05:24,RT @rkelly: I'm shakin' shit up in April/May!!...,2790165875,2790165875,CLsmoothD,C.L.D,2014-09-28 22:56:05,258,...,None,None,None,None,"<a href=""http://twitter.com/download/android"" ...",None,NaN,NaN,en,0
2,849699511463276544,273,2017-04-05 19:05:24,RT @rkelly: I'm shakin' shit up in April/May!!...,2790165875,2790165875,CLsmoothD,C.L.D,2014-09-28 22:56:05,257,...,None,None,None,None,"<a href=""http://twitter.com/download/android"" ...",None,NaN,NaN,en,0
3,849699511605772288,257,2017-04-05 19:05:24,RT @bbyizzie: everyones pissing me the fuck of...,2945955630,2945955630,arianaalize,ariana,2014-12-28 07:27:57,307,...,None,None,None,None,"<a href=""http://twitter.com/download/iphone"" r...",None,NaN,NaN,en,0
4,849699511610093568,232,2017-04-05 19:05:24,One does not often see rain in paintings. Van ...,954304650,954304650,secretsvangogh,Secrets of Van Gogh,2012-11-17 20:57:58,236,...,Amsterdam,None,None,None,"<a href=""http://meetedgar.com"" rel=""nofollow"">...",None,NaN,NaN,en,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,849699530723516416,204,2017-04-05 19:05:29,RT @DogOIympics: Don't say anything just retwe...,707652544269459456,707652544269459456,lenaa_warren,M&M,2016-03-09 19:41:28,78,...,None,None,None,None,"<a href=""http://twitter.com/download/android"" ...",None,NaN,NaN,en,0
196,849699530933239809,255,2017-04-05 19:05:29,Hi my name is Ryan and I love food. https://t....,333879745,333879745,ItsBowie_,Alex,2011-07-12 06:55:36,263,...,Quito,None,None,None,"<a href=""http://twitter.com/download/iphone"" r...",None,NaN,NaN,en,0
197,849699530962612229,273,2017-04-05 19:05:29,@SupremeAccess Perfect with the royal 1s!,108797996,108797996,Blackmigo_Kiro,King Kiro,2010-01-27 02:10:56,1124,...,Mountain Time (US & Canada),3430565292,3430565292,SupremeAccess,"<a href=""http://twitter.com/download/iphone"" r...",None,NaN,NaN,en,0
198,849699530966740993,221,2017-04-05 19:05:29,RT @ShitJusGotReal1: Fast &amp; Furious 8 'Chi...,266965777,266965777,NickJustDont,Nicky G,2011-03-16 03:19:50,917,...,Central Time (US & Canada),None,None,None,"<a href=""http://twitter.com/download/android"" ...",None,NaN,NaN,en,0
199,849699531054866436,281,2017-04-05 19:05:29,RT @darrynzewalk: #God has a purpose for your ...,608432526,608432526,steynclan,Catherinne,2012-06-14 18:02:42,425,...,None,None,None,None,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",None,NaN,NaN,en,0

The `job_id` for this table refers to which city the tweet was collected from. Since we all now have some tie to Columbia, MO, we can query for those tweets that are specifically tied to Columbia. Columbia's `job_id` is 261.

**Exercise 2**: Write and execute a query that pulls all attributes and 200 rows where the job id is 261.

In [5]:
# Code for Exercise 2 goes here
# --------------


statement = """                              
SELECT *
FROM twitter.tweet
WHERE job_id = 261
LIMIT 200
"""

pd.read_sql_query(statement,conn)

,tweet_id_str,job_id,created_at,text,from_user,from_user_id_str,from_user_name,from_user_fullname,from_user_created_at,from_user_followers,...,from_user_timezone,to_user,to_user_id_str,to_user_name,source,location_geo,location_geo_0,location_geo_1,iso_language,analysis_state
0,849699529616130048,261,2017-04-05 19:05:29,@WendyAlsup @timkellernyc I cried like a baby ...,491026643,491026643,RachelleDCox,Rachelle Cox,2012-02-13 05:19:01,408,...,Central Time (US & Canada),418049696,418049696,WendyAlsup,"<a href=""http://twitter.com/download/iphone"" r...",None,NaN,NaN,en,0
1,849699572259708928,261,2017-04-05 19:05:39,RT @MizzouHoops: Meet,2921658483,2921658483,popester1986,#1 U.K. W HOOPS fan,2014-12-14 17:41:15,215,...,None,None,None,None,"<a href=""http://twitter.com/download/android"" ...",None,NaN,NaN,en,0
2,849699591532498945,261,2017-04-05 19:05:43,Responsibilities are overrated when it's storm...,783085956,783085956,kristennn_moore,Kristen Moore â¡,2012-08-26 19:55:57,217,...,None,None,None,None,"<a href=""http://twitter.com/download/iphone"" r...",None,NaN,NaN,en,0
3,849699611845566470,261,2017-04-05 19:05:48,Brain Balance of Columbia is excited to be a p...,819044243121520641,819044243121520641,Brainbalanceco2,Brainbalancecolumbia,2017-01-11 04:52:19,34,...,None,None,None,None,"<a href=""http://www.facebook.com/twitter"" rel=...",None,NaN,NaN,en,0
4,849699612306923520,261,2017-04-05 19:05:48,"Due to the wet and windy weather conditions, t...",219062788,219062788,CycleXtreme,Tom Brinker,2010-11-23 20:45:37,135,...,Central Time (US & Canada),None,None,None,"<a href=""http://www.facebook.com/twitter"" rel=...",None,NaN,NaN,en,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
195,849705120388579328,261,2017-04-05 19:27:42,@CTPSports esp on the heels of MU allowing Wal...,1660994196,1660994196,GYCoMo,George Young,2013-08-10 21:46:00,361,...,Eastern Time (US & Canada),4775871439,4775871439,CTPSports,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",None,NaN,NaN,en,0
196,849705132606599168,261,2017-04-05 19:27:45,"""Effort is required on both sides to make sure...",328735866,328735866,KatieYaeger,Katie Yaeger,2011-07-03 23:01:45,1385,...,Central Time (US & Canada),None,None,None,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",None,NaN,NaN,en,0
197,849705193159745539,261,2017-04-05 19:27:59,RT @MizzouHoops: Meet,2278057098,2278057098,nickdematteo2,Nick DeMatteo,2014-01-05 20:20:23,404,...,Pacific Time (US & Canada),None,None,None,"<a href=""http://twitter.com/download/iphone"" r...",None,NaN,NaN,en,0
198,849705237988429824,261,2017-04-05 19:28:10,This would be crazy... https://t.co/GuzZQthM5Y,3359958869,3359958869,cdavidperry47,Caleb Perry,2015-07-05 05:09:10,83,...,None,None,None,None,"<a href=""http://twitter.com/download/iphone"" r...",None,NaN,NaN,en,0
199,849705282984976386,261,2017-04-05 19:28:20,RT @MizzouEducation: 120+ employers were at th...,962652954,962652954,BeksMix,princess beks,2012-11-21 16:13:27,977,...,None,None,None,None,"<a href=""http://twitter.com"" rel=""nofollow"">Tw...",None,NaN,NaN,en,0

The database also collects the language that the tweet was written in as long as it is identifiable. This is stored in the `iso_language` column as an attribute of the `tweet`. 

**Exercise 3**: Write and execute a query that returns the distinct languages and the count of each language for 2000 rows in Columbia, MO. Keep in mind this will be a nested query and that at the lowest level you have a limit of 2000.

In [6]:
# Code for Exercise 3 goes here
# ------------

statement = """
SELECT DISTINCT iso_language, COUNT(*)
FROM(
    SELECT iso_language
    FROM twitter.tweet
    LIMIT 2000) AS T3
GROUP BY iso_language
ORDER BY count;
"""

pd.read_sql_query(statement,conn)

   iso_language  count
0            cs      1
1            cy      1
2            is      1
3            lt      1
4            et      2
5            pl      2
6            ru      2
7            de      3
8            nl      3
9            sr      3
10           tr      3
11           ht      4
12           in      4
13           it      6
14           tl      6
15           ar      9
16           fr      9
17           pt     12
18           ko     13
19           es     47
20          und    132
21           en   1736

**Exercise 4**: Now find out who tweets the most in Columbia, MO for 2000 rows of data. Arrange the data in descending order by count. User ids are stored in the `from_user` attribute.

In [7]:
# Code for Exercise 4 goes here
# ------------
statement = """
SELECT DISTINCT from_user, COUNT(*)
FROM(
    SELECT from_user
    FROM twitter.tweet
    LIMIT 2000) AS T3
GROUP BY t3.from_user   
ORDER BY count DESC;
"""

pd.read_sql_query(statement,conn)

       from_user  count
0     2883451088      7
1      336063558      7
2     2942971567      6
3     1535326934      4
4      185288697      4
...          ...    ...
1687    97367811      1
1688   974379811      1
1689    97841123      1
1690   981571806      1
1691    99787057      1

[1692 rows x 2 columns]

the column `from_user_followers` stores the number of followers the user who wrote the tweet had when that tweet was created.

**Challenge Question 1**: Write and execute a query that finds the average number of `from_user_followers` for each distinct `iso_language` from only 2000 rows of Columbia, MO tweets.

In [16]:
# Code for Challenge Question 1 goes here
# ------------
statement = """
SELECT DISTINCT iso_language, AVG(from_user_followers)
FROM(
    SELECT iso_language , from_user_followers
    FROM twitter.tweet
    LIMIT 2000) AS T4
GROUP BY iso_language
ORDER BY avg DESC
"""

pd.read_sql_query(statement,conn)

   iso_language           avg
0            es  26273.136364
1            tr   9873.000000
2            is   4229.000000
3            en   2598.621230
4            ar   2248.615385
5            hu   2242.000000
6            ht   1711.800000
7           und   1468.343066
8            ru   1408.500000
9            fr   1096.642857
10           cy   1053.000000
11           pt   1045.333333
12           da    921.000000
13           sv    734.500000
14           de    645.000000
15           pl    374.000000
16           et    352.400000
17           ko    315.062500
18           in    257.666667
19           tl    207.500000
20           nl    139.500000
21           it    111.000000
22           th     10.000000
23           cs      0.000000

# Save your notebook, then `File > Close and Halt`